<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
    <div class="form-row">
        <app-input-field class="col-sm-12" formControlName="nome" [classeCss]="aplicaCssErro('nome')" id="nome"
            label="Nome" [control]="form.get('nome')"></app-input-field>
    </div>

    <div style="margin-top: 10px">
        <button type="submit" class="btn btn-primary" (click)="verificaSeValido()">Salvar</button>
        <button type="button" class="btn btn-default" (click)="cancelar()">Cancelar</button>
    </div>
    <app-form-debug [form]="form"></app-form-debug>

</form>