<form class="needs-validation" novalidate style="padding-top: 10px">
    <div class="form-row">
        <div class="col-sm-12">
            <label for="nome">Nome do Curso</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome do Curso"  />
        </div>
        <div class="col-sm-12">
            <label for="nome">Nome da Turma</label>
            <input type="text" class="form-control" id="turma" placeholder="Nome do Turma"  />
        </div>
    </div>

    <div style="margin-top: 10px">
        <button type="submit" class="btn btn-primary" >Salvar</button>
        <button type="button" class="btn btn-default" >Cancelar</button>
    </div>
</form>