<!-- 
        <app-input-field class="col-sm-12" formControlName="nome" [classeCss]="aplicaCssErro('nome')" id="nome"
            label="Nome" [control]="form.get('nome')"></app-input-field> -->

<h2 mat-dialog-title class="simple-dialog-title">{{inputData.title}}</h2>
<mat-dialog-content [formGroup]="form">
    <app-input-field class="col-sm-12" formControlName="nome" [classeCss]="aplicaCssErro('nome')" id="nome" label="Nome"
        [control]="form.get('nome')"></app-input-field>
    <app-input-field class="col-sm-12" formControlName="turma" [classeCss]="aplicaCssErro('turma')" id="turma" label="Turma"
    [control]="form.get('turma')"></app-input-field>
</mat-dialog-content>



<mat-dialog-actions>
    <button class="btn-custom btn-custom-secondary btn-spacing" (click)="cancelar()">Close</button>
    <button class="btn-custom btn-custom-primary" (click)="verificaSeValido()">Salvar</button>
</mat-dialog-actions>