
.example-card {
    width: 400px;
    margin: 10% auto;
  }
  .mat-card-title{
    font-size: 16px;
  }

  .example-full-width {
    width: 70%;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  