<div class="container search-table">


    <div class="search-box">
        <div class="row">
            <div class="col-md-9">
                <input type="text" id="myInput" class="form-control" [formControl]="queryField"  placeholder="Pesquisar libs" />
            </div>
            <div class="col-auto">
                <button class="but btn-lg btn-success" (click)="pesquisar()">Pesquisar</button>
            </div>
        </div>
    </div>



    <div class="search-list">

        <table class="table table-striped custab">
            <thead>

                <button *ngIf="mostraFuncionalidade('CRIAR_ALUNO')" class="btn btn-primary btn-xs pull-right" (click)="criarAluno()">
                    Criar um novo aluno
                </button>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Turma</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tr *ngFor="let aluno of lista_de_alunos$ | async">
                <td>{{aluno.id}}</td>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.turma}}</td>
                <td class="text-center">
                    <button *ngIf="mostraFuncionalidade('EDITAR_ALUNO')" class="btn btn-outline-warning mb-1 btn-sm" (click)="editarAluno(aluno)">
                        Atualizar
                    </button>
                    <button *ngIf="mostraFuncionalidade('DELETAR_ALUNO')" class="btn btn-outline-danger mb-1 btn-sm" (click)="deletarAluno(aluno)">
                        Deletar
                    </button>
                </td>
            </tr>

        </table>
    </div>
</div>