.custab{ border: 1px solid #ccc; padding: 5px; margin: 5% 0; box-shadow: 3px 3px 2px #ccc; transition: 0.5s; } .custab:hover{ box-shadow: 3px 3px 0px transparent; transition: 0.5s; }

.search-box{
    // background: #c1c1c1;
    border: 1px solid #ababab;
    padding: 3%;
  }
  .search-box input:focus{
    box-shadow:none;
    border:2px solid #eeeeee;
  }

  .search-table{
    padding: 10%;
    margin-top: -6%;
  }