<!-- <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Curso</button> -->
<button type="button" (click)="criar()" class="btn btn-primary">Novo</button>


<app-checkbox-table 
(elementHasSelected)="refreshSelection($event)" 
[dataSource]=dataSource
[displayedColumns]=displayedColumns>
</app-checkbox-table>


<button *ngIf="this.selection.selected.length == 1" (click)="editar()" type="button" class="btn btn-primary" >Editar</button>
<button *ngIf="this.selection.selected.length >= 1" type="button" class="btn btn-primary" >Deletar</button>
